@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1.5;
  color: #777777;
  color: #7f7f7f;
  background: #fff;
  height: 100%;
  position: relative;
}

a {
  color: #039be5;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:active, a:focus {
  color: #039be5;
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
    
}

p {
    margin-bottom: 1.5em;
    font-size: 14px;
    line-height: 40px;
    color: #a6a7aa;
    margin-top: 2em;
    

 
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 30px 0;
}


::-webkit-selection {
  color: #818892;
  background: #f9f6f0;
}

::-moz-selection {
  color: #818892;
  background: #f9f6f0;
}

::selection {
  color: #818892;
  background: #f9f6f0;
}

.edge--bottom {
  position: relative;
  z-index: 1;
}
.edge--bottom:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom:after {
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
}

.edge--bottom--reverse {
  position: relative;
  z-index: 1;
}
.edge--bottom--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--bottom--reverse:after {
  bottom: 0;
  transform: skewY(1.5deg);
  transform-origin: 0 100%;
}

.edge--top {
  position: relative;
  z-index: 1;
}
.edge--top:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top:before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
}

.edge--top--reverse {
  position: relative;
  z-index: 1;
}
.edge--top--reverse:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--top--reverse:before {
  top: 0;
  transform: skewY(-1.5deg);
  transform-origin: 0 0;
}

.edge--both {
  position: relative;
  z-index: 1;
}
.edge--both:before, .edge--both:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--both:before {
  top: 0;
  transform: skewY(1.5deg);
  transform-origin: 100% 0;
}
.edge--both:after {
  bottom: 0;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
}

.edge--both--reverse {
  position: relative;
  z-index: 1;
}
.edge--both--reverse:before, .edge--both--reverse:after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden;
}
.edge--both--reverse:before {
  top: 0;
  transform: skewY(-1.5deg);
  transform-origin: 0 0;
}
.edge--both--reverse:after {
  bottom: 0;
  transform: skewY(1.5deg);
  transform-origin: 0 0;
}

#luxtag-header {
  position: absolute;
  z-index: 99;
  width: 100%;
  opacity: 1;
  top: 0;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  #luxtag-header {
    margin-top: 0;
    background: #fff;
    -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  }
  #luxtag-header .navbar-brand {
    color: #039be5 !important;
  }
  #luxtag-header #navbar li a {
    color: rgba(0, 0, 0, 0.5) !important;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  #luxtag-header #navbar li a:hover {
    color: #039be5 !important;
  }
  #luxtag-header #navbar li a span:before {
    background: transparent !important;
  }
  #luxtag-header #navbar li.active a {
    background: transparent;
    background: none;
    color: #039be5 !important;
  }
  #luxtag-header #navbar li.active a span:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
#luxtag-header .navbar {
  padding-bottom: 0;
  margin-bottom: 0;
}
#luxtag-header #navbar li a {
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  font-size: 16px;
  font-weight: 300;
}
#luxtag-header #navbar li a span {
  position: relative;
  display: block;
  padding-bottom: 2px;
}
#luxtag-header #navbar li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -ms-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
#luxtag-header #navbar li a:hover {
  color: #fff;
}
#luxtag-header #navbar li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}
#luxtag-header #navbar li.active a {
  background: transparent;
  background: none;
  color: #fff;
}
#luxtag-header #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
#luxtag-header .navbar-brand {
  float: left;
  display: block;
  font-size: 30px;
  font-weight: 700;
  padding-left: 0;
  color: #fff;
}
#luxtag-header.navbar-fixed-top {
  position: fixed !important;
  background: #fff;
  -webkit-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.1);
  margin-top: 0px;
  top: 0;
}
#luxtag-header.navbar-fixed-top .navbar-brand {
  color: #039be5;
}
#luxtag-header.navbar-fixed-top #navbar li a {
  color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#luxtag-header.navbar-fixed-top #navbar li a:hover {
  color: #039be5;
}
#luxtag-header.navbar-fixed-top #navbar li.active a {
  background: transparent;
  background: none;
  color: #039be5;
}
#luxtag-header.navbar-fixed-top #navbar li.active a span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  background-color: #039be5;
}
#luxtag-header .navbar-default {
  border: transparent;
  background: transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  border-radius: 0px;
}
@media screen and (max-width: 768px) {
  #luxtag-header .navbar-default {
    margin-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
  }
}
#luxtag-header .navbar-default .brand-slogan {
  margin: 28px 0 0 15px;
  float: left;
  letter-spacing: 2px;
  color: #adadad;
}
#luxtag-header .navbar-default .brand-slogan em {
  color: #039be5;
  font-style: normal;
}
#luxtag-header a {
  -webkit-transition: 0s;
  -o-transition: 0s;
  transition: 0s;
}


.section {
  padding: 80px 0;
}
.section-header {
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}
.section-header .section-title {
  font-size: 42px;
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 100;
  color: black;
  position: relative;
}
.section-header .section-title span {
  color: #039be5;
}
.section-header .section-subtitle {
  margin-top: 15px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
}
.section-header .lines {
  margin: auto;
  width: 70px;
  position: relative;
  border-top: 2px solid #039be5;
  margin-top: 15px;
}
.section-header .lines:before {
  position: absolute;
  content: "";
  display: inline-block;
  height: 10px;
  width: 10px;
  top: -10px;
  border: 4px solid #fff;
  border-radius: 50%;
  background: #039be5;
  left: 27px;
}

.luxtag-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
}
.luxtag-nav-toggle.active i::before, .luxtag-nav-toggle.active i::after {
  background: #039be5;
}
.luxtag-nav-toggle:hover, .luxtag-nav-toggle:focus, .luxtag-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.luxtag-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 3px;
  color: #039be5;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #039be5;
  transition: all .2s ease-out;
}
.luxtag-nav-toggle i::before, .luxtag-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #039be5;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.luxtag-nav-toggle i::before {
  top: -7px;
}

.luxtag-nav-toggle i::after {
  bottom: -7px;
}

.luxtag-nav-toggle:hover i::before {
  top: -10px;
}

.luxtag-nav-toggle:hover i::after {
  bottom: -10px;
}

.luxtag-nav-toggle.active i {
  background: transparent;
}

.luxtag-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.luxtag-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}

.luxtag-nav-toggle {
  position: absolute;
  top: 2px;
  right: 0px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 25px;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .luxtag-nav-toggle {
    display: block;
  }
}
.luxtag-header .logo {
  width: 150px;
  height: 150px;
  float: left;
  max-height: 95px;
  line-height: 65px;
}

.luxtag-header .logo-wrap {
  display: inline-block;
  padding: 15px 0;
}

.luxtag-header .logo-wrap:focus, .header .logo-wrap:hover {
  text-decoration: none;
}

.luxtag-header .logo-img {
  display: inline-block;
    width: 160px;
    height: auto;
    /* max-width: 100%; */
    vertical-align: middle;
}

.luxtag-header .logo-img-main {
  display: inline-block;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.luxtag-header .logo-img-active {
  display: none;
  transition-duration: 400ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}


#luxtag-home {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  background-color:#039be5;
  color: #fff;
  overflow: hidden;
}
#luxtag-home .gradient {
}
#luxtag-home, #luxtag-home .text-wrap {
  height: 900px;
}
#luxtag-home .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
}
#luxtag-home .text-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
#luxtag-home .text-inner a {
  color: white;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#luxtag-home .text-inner a:hover, #luxtag-home .text-inner a:active, #luxtag-home .text-inner a:focus {
  text-decoration: none;
  color: white;
  border-bottom: 1px dashed white;
}
#luxtag-home .text-inner h1 {
  font-size: 60px;
  color: white;
  margin: 0 0 20px 0;
}
#luxtag-home .text-inner h2 {
  font-size: 25px;
  line-height: 34px;
  font-weight: 200 !important;
  color: #fff;
  margin: 0;
}

.slant {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  bottom: 0;
  margin-bottom: -35px;
  padding: 0;
  width: 101%;
}

#luxtag-intro {
  position: relative;
  bottom: 0;
  margin-top: -150px;
  z-index: 10;
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  #luxtag-intro {
    padding-bottom: 3em;
  }
}
#luxtag-intro > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}
#luxtag-intro .luxtag-block {
  width: 33.33%;
  float: left;
  text-align: center;
  font-size: 16px;
  min-height: 300px;
  vertical-align: middle;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  z-index: 7;
  flex-grow: 1;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  #luxtag-intro .luxtag-block {
    width: 100%;
  }
}
#luxtag-intro .luxtag-block > .overlay-darker {
  z-index: 8;
  background: #039be5;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#luxtag-intro .luxtag-block > .overlay {
  background: #fff;
  opacity: 1;
  z-index: 9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#luxtag-intro .luxtag-block > .luxtag-text {
  position: relative;
  z-index: 10;
}
#luxtag-intro .luxtag-block > .luxtag-text .luxtag-intro-icon {
  font-size: 50px;
  color: #039be5;
  margin-bottom: 30px;
  display: block;
}
#luxtag-intro .luxtag-block h2 {
  font-size: 24px;
  font-weight: 400;
}
#luxtag-intro .luxtag-block:hover > .overlay, #luxtag-intro .luxtag-block:focus > .overlay {
  opacity: 0;
  z-index: 9;
}
#luxtag-intro .luxtag-block:hover > .luxtag-text, #luxtag-intro .luxtag-block:focus > .luxtag-text {
  color: #fff;
}
#luxtag-intro .luxtag-block:hover > .luxtag-text .luxtag-intro-icon, #luxtag-intro .luxtag-block:focus > .luxtag-text .luxtag-intro-icon {
  color: #fff;
}
#luxtag-intro .luxtag-block:hover h2, #luxtag-intro .luxtag-block:focus h2 {
  color: #fff;
}

#luxtag-intro .luxtag-block:hover p, #luxtag-intro .luxtag-block:focus p {
  color: #fff;
}
#luxtag-intro .luxtag-block:hover .btn, #luxtag-intro .luxtag-block:focus .btn {
  border: 2px solid #fff !important;
  background: transparent;
}
#luxtag-intro .luxtag-block:hover .btn:hover, #luxtag-intro .luxtag-block:focus .btn:hover {
  background: #039be5 !important;
  border: 2px solid white !important;
}


/*#luxtag-intro {
  position: relative;
  bottom: 0;
  margin-top: -150px;
  z-index: 10;
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  #luxtag-intro {
    padding-bottom: 3em;
  }
}
#luxtag-intro > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
}
#luxtag-intro .luxtag-block {
  width: 33.33%;
  float: left;
  text-align: center;
  font-size: 14px;
    font-weight: 200;
  min-height: 300px;
  vertical-align: middle;
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -moz-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -ms-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  -o-box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  box-shadow: 7px 14px 42px 3px rgba(163, 174, 184, 0.4);
  z-index: 7;
  flex-grow: 1;
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  #luxtag-intro .luxtag-block {
    width: 100%;
  }
}
#luxtag-intro .luxtag-block > .overlay-darker {
  z-index: 8;
  opacity: 0.8;
  background: #039be5;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#luxtag-intro .luxtag-block > .overlay {
  background: #fff;
  opacity: 1;
  z-index: 9;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
#luxtag-intro .luxtag-block > .luxtag-text {
  position: relative;
  z-index: 10;
}
#luxtag-intro .luxtag-block > .luxtag-text .luxtag-intro-icon {
  font-size: 50px;
  color:#039be5;
  margin-bottom: 30px;
  display: block;
}
#luxtag-intro .luxtag-block h2 {
  font-size: 24px;
  font-weight: 400;
}
#luxtag-intro .luxtag-block:hover > .overlay, #luxtag-intro .luxtag-block:focus > .overlay {
  opacity: 0;
  z-index: 9;
}
#luxtag-intro .luxtag-block:hover > .luxtag-text, #luxtag-intro .luxtag-block:focus > .luxtag-text {
  color: #fff;
}
#luxtag-intro .luxtag-block:hover > .luxtag-text .luxtag-intro-icon, #luxtag-intro .luxtag-block:focus > .luxtag-text .luxtag-intro-icon {
  color: #fff;
}
#luxtag-intro .luxtag-block:hover h2, #luxtag-intro .luxtag-block:focus h2 {
  color: #fff;
}
#luxtag-intro .luxtag-block:hover p, #luxtag-intro .luxtag-block:focus p {
  color: #fff;
}
#luxtag-intro .luxtag-block:hover .btn, #luxtag-intro .luxtag-block:focus .btn {
  
  background: transparent;
  border: 1px solid #fff !important;  
}
#luxtag-intro .luxtag-block:hover .btn:hover, #luxtag-intro .luxtag-block:focus .btn:hover {
  background: white !important;
  color: #039be5 !important;
  border: 1px solid #fff !important;
}*/

.watch-video {
  text-align: center;
  width: 100%;
  display: block;
  float: left;
}
.watch-video span {
  display: block;
  margin-bottom: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: bold;
}
.watch-video .btn-video {
  display: block;
  font-size: 60px;
  height: 120px;
  width: 120px;
  margin: 0 auto;
  border: 2px solid #039be5;
  line-height: 0px;
  display: table;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.watch-video .btn-video:hover, .watch-video .btn-video:focus, .watch-video .btn-video:active {
  text-decoration: none;
}
.watch-video .btn-video i {
  position: relative;
  color: #039be5;
  display: table-cell;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  right: -9px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.watch-video .btn-video:hover i, .watch-video .btn-video:focus i {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

#luxtag-services, #luxtag-testimonials, #luxtag-counters, #luxtag-work, #luxtag-contact, #luxtag-about {
  padding: 4em 0;
}
@media screen and (max-width: 768px) {
  #luxtag-services, #luxtag-testimonials, #luxtag-counters, #luxtag-work, #luxtag-contact, #luxtag-about {
    padding: 2em 0;
  }
}

#luxtag-services, #luxtag-work, #luxtag-counters {
  padding: 2em 0;
}
@media screen and (max-width: 768px) {
  #luxtag-services, #luxtag-work, #luxtag-counters {
    padding: 4em 0;
  }
}

#luxtag-services {
  background-color: #fafafa;
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjEwMCUiPjxzdG9wIHN0b3AtY29sb3I9IiMzZjk1ZWEiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iIzUyZDNhYSIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjEiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0, #3f95ea), color-stop(1, #039be5));
  /* Android 2.3 */
  background-image: -webkit-repeating-linear-gradient(top left, #3f95ea 0%, #039be5 100%);
  /* IE10+ */
  background-image: repeating-linear-gradient(to bottom right, #3f95ea 0%, #039be5 100%);
  background-image: -ms-repeating-linear-gradient(top left, #3f95ea 0%, #039be5 100%);
  overflow: hidden;
  position: relative;
  color: rgba(255, 255, 255, 0.7);
}
/*#luxtag-services:before, #luxtag-services:after {
  position: absolute;
  transform: rotate(-1.7deg);
  -ms-transform: rotate(-1.7deg);
  -webkit-transform: rotate(-1.7deg);
  -o-transform: rotate(-1.7deg);
  -moz-transform: rotate(-1.7deg);
  background-color: #fff;
  content: "";
  z-index: 3;
  display: inline-block;
  height: 70px;
  padding: 0;
  width: 101%;
}*/

#luxtag-services .luxtag-service {
  padding-right: 30px;
}
#luxtag-services h3 {
  font-size: 24px;
  color: #fff;
}
#luxtag-services .icon {
  font-size: 70px;
  margin-bottom: 30px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  display: inline;
}
#luxtag-services .icon:before {
  color:  #039be5;
}
#luxtag-services .section-heading h2 {
  color:  #039be5;
}
#luxtag-services .section-heading h2.left-border:after {
  background: rgba(255, 255, 255, 0.3);
}



#luxtag-brief .icon {
  font-size: 40px;
  margin-bottom: 30px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
 color: #039be5
  display: inline;
}

#luxtag-brief .icon:before {
  color: #039be5;
}

#footer {
  padding: 50px 0;
  color: #7f7f7f;
  position: relative;
}
#footer .gotop {
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -40px;
  background: #fff;
  z-index: 8;
  width: 80px;
  height: 80px;
  font-size: 30px;
  padding-top: 5px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#footer .gotop:hover, #footer .gotop:focus {
  top: -25px;
  text-decoration: none !important;
}
#footer .copyright {
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 0;
}

.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.btn.btn-primary {
  background: #039be5;
  color: #fff;
  border: none !important;
  border: 1px solid transparent !important;
}
.btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
  box-shadow: none;
  background: #039be5;
}
.btn:hover, .btn:active, .btn:focus {
  background: #393e46 !important;
  color: #fff;
  outline: none !important;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active {
  border-color: transparent;
}

.social {
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: 100%;
}
.social li {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}
.social li a {
  font-size: 16px;
  display: table;
  width: 40px;
  height: 40px;
  margin: 0 4px;
}
.social li a i {
  display: table-cell;
  vertical-align: middle;
}
.social li a:hover, .social li a:active, .social li a:focus {
  text-decoration: none;
  border-bottom: none;
}
.social li a.social-box {
  background: #039be5;
  color: #fff;
}
.social li a.social-circle {
  background: #039be5;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.social li a:hover {
  background: #393e46 !important;
}
.social.social-box a {
  background: #039be5;
  color: #fff;
}
.social.social-circle a {
  background: #039be5;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

#map {
  width: 100%;
  height: 500px;
  position: relative;
}
@media screen and (max-width: 768px) {
  #map {
    height: 200px;
  }
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

.js .to-animate,
.js .to-animate-2,
.js .single-animate {
  opacity: 1;
  margin-top: 1em;
}


@media screen and (max-width: 480px) {
  .col-xxs-12 {
    float: none;
    width: 100%;
  }
}

.row-bottom-padded-lg {
  padding-bottom: 7em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-lg {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-md {
  padding-bottom: 4em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-md {
    padding-bottom: 2em;
  }
}

.row-bottom-padded-sm {
  padding-bottom: 2em;
}
@media screen and (max-width: 768px) {
  .row-bottom-padded-sm {
    padding-bottom: 2em;
  }
}

.luxtag-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#luxtag-brief{
 background-color: #fefefe;
    margin-top: -30px;

}

#luxtag-brief .text-wrap {
  display: table;
  width: 100%;
  position: relative;
  z-index: 4;
}
#luxtag-brief .text-inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}


#luxtag-brief .text-inner h2 {
  font-size: 50px;
  line-height: 50px;
  font-weight: 200 !important;
  color: black;
  margin: 50px;
}

#luxtag-brief .text-inner p {
    
  font-size: 15px;
  font-weight: 400;
  color: #a6a7aa;
  margin-bottom: 15px;
  margin-top: 3em;
  line-height: 25px;
  font-weight: 200 !important;
}


/*PRODUCT*/

.luxtag-onboard-style-1,
.luxtag-onboard-style-2 {
  padding: 5em 0;
}
@media screen and (max-width: 768px) {
  .luxtag-onboard-style-1,
  .luxtag-onboard-style-2 {
    padding: 3em 0;
  }
}

.luxtag-onboard-style-1 .luxtag-price {
  padding-top: 0em;
  display: block;
  font-size: 50px;
  line-height: 50px;
  font-family: "Open Sans", Arial, sans-serif;
  color: #039be5;
  margin-bottom: 30px;
}

.luxtag-onboard-style-1 .luxtag-onboard-item {
  display: block;
  color: #333333;
  float: left;
  width: 100%;
  text-align: center;
  background: #fff;
  padding: 40px 10px;
  margin-bottom: 1.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.luxtag-onboard-style-1 .luxtag-onboard-item.onboard-feature {
  border-top: 10px solid #039be5;
  z-index: 9;
}
.luxtag-onboard-style-1 .luxtag-onboard-item p:last-child {
  margin-bottom: 0;
}
.luxtag-onboard-style-1 .luxtag-onboard-item:hover, .luxtag-onboard-style-1 .luxtag-onboard-item:focus, .luxtag-onboard-style-1 .luxtag-onboard-item:active {
  text-decoration: none;
  outline: none;
}
.luxtag-onboard-style-1 .luxtag-onboard-item .luxtag-onboard-item-lead {
  font-size: 12px;
  font-family: "Montserrat", Arial, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.luxtag-onboard-style-1 .luxtag-onboard-item .luxtag-onboard-item-text {
  font-size: 16px;
  color: #a6a6a6;
}
.luxtag-onboard-style-1 .luxtag-onboard-item:hover, .luxtag-onboard-style-1 .luxtag-onboard-item.active {
  -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
  margin-top: -10px;
}
@media screen and (max-width: 768px) {
  .luxtag-onboard-style-1 .luxtag-onboard-item:hover, .luxtag-onboard-style-1 .luxtag-onboard-item.active {
    margin-top: 0px;
  }
}

.luxtag-onboard-style-2 {
  background: white;
}
.luxtag-onboard-style-2 .luxtag-heading {
  color: #fff;
}
.luxtag-onboard-style-2 p {
  color: rgba(255, 255, 255, 0.7);
}
.luxtag-onboard-style-2 .onboard {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto 3em;
}
.luxtag-onboard-style-2 .onboard-item {
  font-family: "Montserrat", Arial, sans-serif;
  padding: 2em 2em;
  margin: 1em;
  color: #262b38;
  background: #fff;
  cursor: default;
  text-align: center;
  overflow: hidden;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 992px) {
  .luxtag-onboard-style-2 .onboard-item {
    margin: 1.5em 0;
  }
  .luxtag-onboard-style-2 .onboard-item.onboard-item--featured {
    z-index: 10;
    margin: 0;
    font-size: 1em;
  }
}
.luxtag-onboard-style-2 .onboard-title {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}
.luxtag-onboard-style-2 .onboard-price {
  font-size: 5em;
  font-weight: 800;
  color:  #039be5;
  position: relative;
  z-index: 100;
}
.luxtag-onboard-style-2 .onboard-currency {
  font-size: 0.5em;
  vertical-align: super;
}
.luxtag-onboard-style-2 .onboard-period {
  font-size: 16px;
  display: inline-block;
  padding: 0 0 0 0.5em;
  color: #cccccc;
}
.luxtag-onboard-style-2 .onboard-sentence {
  margin: 0 0 1em 0;
  padding: 0 0 0.5em;
  font-size: 16px;
  text-align: center;
  color: #999999;
}
.luxtag-onboard-style-2 .onboard-feature-list {
  font-size: 1em;
  margin: 0;
  padding: 1.5em 0.5em 2.5em;
  list-style: none;
}
.luxtag-onboard-style-2 .onboard-feature {
    padding: 0.5em 1em;;
    font-size: 11px;
    font-weight: 100 !important;
    line-height: 23px;
    color: #a6a7aa;
   
     
}


.luxtag-onboard-style-2 .onboard-action {
  font-weight: bold;
  margin-top: auto;
  padding: 1em 2em;
  color: #fff;
  border-radius: 5px;
  background: #6ed19c;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.luxtag-onboard-style-2 .onboard-action:hover,
.luxtag-onboard-style-2 .onboard-action:focus {
  background-color: #4F5F56;
}

/*For portfolio Section*/

/*.portfolio{
    background-color: #f9fafc;
    background-size:cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -ms-background-size:cover;
    width: 100%;
    overflow: hidden;
}

.community-edition{
    background:#fff;
    padding:40px 15px;
    border:1px solid #ececec;
    box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -webkit-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -moz-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -o-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    -ms-box-shadow:2px 2px 5px 0 rgba(55,50,40, .20);
    transition:.3s ease-in-out;
    -moz-transition:.3s ease-in-out;
    -webkit-transition:.3s ease-in-out;
}
.community-edition:hover{
    background:#039be5;
    color:#fff;
}
.community-edition:hover i {
    color:#fff;
}
.community-edition:hover h4 {
    color:#fff;
}
.community-edition:hover p {
    color:#fff;
}

.community-edition i{
    font-size:60px;
    color:#039be5;
    margin-bottom: 20px;
}


.portfolio-wrapper2{
    margin-top:25px;
}*/
.pad-xl {
	padding: 200px 0px;
}


#be-the-first {
  background: url(../img/be-the-first-bg.jpg) #231f20 no-repeat center center fixed;
  min-height: 300px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr.line {
	width: 100%;
	border: 2px solid;
}

.purple {
	border-color: #6d3f96;
	color: #6d3f96;
}

.blue {
	border-color: #70cbce;
	color: #70cbce
}

.yellow {
	border-color: #fdc05d;
	color: #fdc05d;
}

.iphone {
    position: relative;
    height: 200px;
}

.iphone img {
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 440px;
}



.main-project .project-item{

}
.project-item .project-photo {
    min-height: 152px;
    max-width: 160px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}

#services {
  position: relative;
  background: #fafafa;
}


.luxtag-team{
	text-align:center;
	margin-top: 46px;
}
.luxtag-team .b1{
	padding-left:0;
}
.luxtag-team .b3{
	padding-right:0;
}
.luxtag-team img{
	margin:0 auto;
}
.luxtag-team h4{
	margin-top: 24px;
	font-size:20px;
	color:#2f2f2f;
	font-weight: 300;
}
.luxtag-team h5{
	margin-top: -3px; */
    font-size: 14px;
    color: #039be5;
    text-transform: uppercase;
    font-weight: 500;
}

.luxtag-team ul{
	margin-top: 2px;
	padding-left:0px;
	display: inline-block;
	margin:0 auto;
}
.luxtag-team ul li{
	padding:0 10px;
	float:left;
	list-style:none;
	font-family: FontAwesome;
	font-size:15px;
}
.luxtag-team ul li a{
	color:#2f2f2f;
}
.luxtag-team ul li a:hover{
	color:#1fcdff;
}



/*FOOTER*/


.luxtag-footer-style-1,
.luxtag-footer-style-2,
.luxtag-footer-style-3 {
  padding: 5em 0;
}
@media screen and (max-width: 768px) {
  .luxtag-footer-style-1,
  .luxtag-footer-style-2,
  .luxtag-footer-style-3 {
    padding: 3em 0;
  }
}

.luxtag-footer-style-1 {
  padding-top: 0;
  padding-bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.luxtag-footer-style-1 .p-b {
  padding-bottom: 20px;
}
.luxtag-footer-style-1 .luxtag-subscribe {
  padding: 7em 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
.luxtag-footer-style-1 .luxtag-subscribe > .luxtag-overlay {
  position: absolute;
  background: #000;
  opacity: .45;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.luxtag-footer-style-1 .luxtag-subscribe .form {
  position: relative;
  z-index: 3;
}
.luxtag-footer-style-1 .luxtag-subscribe .form h2 {
  color: #fff;
}
.luxtag-footer-style-1 .luxtag-subscribe .form p {
  color: rgba(255, 255, 255, 0.8);
}
.luxtag-footer-style-1 .luxtag-subscribe .form p:last-child {
  margin-bottom: 0;
}
.luxtag-footer-style-1 .luxtag-subscribe .form-group {
  position: relative;
}
.luxtag-footer-style-1 .luxtag-subscribe .form-group i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -10px;
  color: #fff;
}
.luxtag-footer-style-1 .luxtag-subscribe .form-control {
  padding-left: 45px;
  padding-right: 30px;
  box-shadow: none;
  border: none;
  background: rgba(255, 255, 255, 0.15);
  height: 52px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.luxtag-footer-style-1 .luxtag-subscribe .form-control::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.luxtag-footer-style-1 .luxtag-subscribe .form-control:-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.luxtag-footer-style-1 .luxtag-subscribe .form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.luxtag-footer-style-1 .luxtag-subscribe .form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.luxtag-footer-style-1 .luxtag-subscribe .form-control:focus, .luxtag-footer-style-1 .luxtag-subscribe .form-control:active {
  background: rgba(255, 255, 255, 0.2);
}
.luxtag-footer-style-1 .luxtag-subscribe .btn {
  margin-top: 3px;
  height: 52px;
}
.luxtag-footer-style-1 .luxtag-footer-inner {
  padding: 7em 0;

}
.luxtag-footer-style-1 .luxtag-footer-inner .copyright {
  margin-bottom: 20px !important;
  line-height: 1.5;
}
.luxtag-footer-style-1 .luxtag-footer-inner .luxtag-logo {
  margin-bottom: 20px;
}
.luxtag-footer-style-1 .luxtag-footer-inner .luxtag-logo a {
  padding: 15px 15px;
  background: rgba(0, 0, 0, 0.07);
  font-size: 40px;
  color: #4d4d4d;
  font-weight: 700;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  
}
.luxtag-footer-style-1 .luxtag-footer-inner .luxtag-logo a:hover, .luxtag-footer-style-1 .luxtag-footer-inner .luxtag-logo a:focus {
  text-decoration: none;
}
.luxtag-footer-style-1 .luxtag-footer-inner h3 {
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 20px;
  
}
.luxtag-footer-style-1 .luxtag-footer-inner p {
  color: #b3b3b3;
  font-size: 15px;
  font-weight: 40;
 
}
.luxtag-footer-style-1 .luxtag-footer-inner p:last-child {
  margin-bottom: 0;
}
.luxtag-footer-style-1 .luxtag-footer-inner .links {
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 15px;
}
.luxtag-footer-style-1 .luxtag-footer-inner .links li {
  list-style: none;
  
}
.luxtag-footer-style-1 .luxtag-footer-inner .links li a {
  font-size: 14px;
  color: gray;
}
.luxtag-footer-style-1 .luxtag-footer-inner .links li a:hover {
  text-decoration: none;
  color: #1784fb;
}
.luxtag-footer-style-1 .luxtag-footer-inner .luxtag-social {
  text-align: right;
  margin-top: 0;
}
@media screen and (max-width: 768px) {
  .luxtag-footer-style-1 .luxtag-footer-inner .luxtag-social {
    text-align: left;
  }
}
.luxtag-footer-style-1 .luxtag-footer-inner .luxtag-social a {
  margin-right: 15px;
  margin-bottom: 10px;
  font-size: 20px;
  color: #333333;
}
.luxtag-footer-style-1 .luxtag-footer-inner .luxtag-social a:hover {
  text-decoration: none;
  color: #1784fb;
}

.luxtag-footer-style-2 {
  background: #232939;
}
.luxtag-footer-style-2 .luxtag-logo {
  color: #fff;
  font-size: 24px;
 
  margin-bottom: 0px;
}
@media screen and (max-width: 480px) {
  .luxtag-footer-style-2 .luxtag-logo {
    text-align: center;
  }
}
.luxtag-footer-style-2 .luxtag-logo > span {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.3);
}
@media screen and (max-width: 768px) {
  .luxtag-footer-style-2 .luxtag-logo > span {
    display: block;
  }
}
.luxtag-footer-style-2 a {
  color: rgba(255, 255, 255, 0.5);
}
.luxtag-footer-style-2 a:hover {
  color: white;
}
.luxtag-footer-style-2 .footer-style-2-link {
  text-align: right;
}
.luxtag-footer-style-2 .footer-style-2-link > a {
  display: none;
}
@media screen and (max-width: 992px) {
  .luxtag-footer-style-2 .footer-style-2-link {
    text-align: left;
  }
}
.luxtag-footer-style-2 .footer-style-2-link ul {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 480px) {
  .luxtag-footer-style-2 .footer-style-2-link ul {
    margin-bottom: 30px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .luxtag-footer-style-2 .footer-style-2-link ul {
    margin-bottom: 20px;
  }
}
.luxtag-footer-style-2 .footer-style-2-link ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}
@media screen and (max-width: 480px) {
  .luxtag-footer-style-2 .footer-style-2-link ul li {
    display: block;
  }
}
.luxtag-footer-style-2 .footer-style-2-link ul li a {
  margin-right: 10px;
  color: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 480px) {
  .luxtag-footer-style-2 .footer-style-2-link ul li a {
    padding: 4px 0;
    display: block;
  }
}
.luxtag-footer-style-2 .footer-style-2-link ul li a:hover {
  color: white;
}

.luxtag-footer-style-3 {
  background: #262626;
  font-size: 15px;
}
.luxtag-footer-style-3 .luxtag-footer-widget {
  margin-bottom: 30px;
}
.luxtag-footer-style-3 .luxtag-logo {
  color: #fff;
  font-size: 24px;
  
  margin-bottom: 40px;
}
.luxtag-footer-style-3 .luxtag-logo .logo {
  padding: 7px 15px;
  background: rgba(255, 255, 255, 0.1);
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  border-radius: 7px;
}
.luxtag-footer-style-3 .luxtag-copyright {
  font-size: 15px;
}
.luxtag-footer-style-3 h3 {
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 15px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  .luxtag-footer-style-3 h3 {
    margin-bottom: 20px;
  }
}
.luxtag-footer-style-3 p {
  color: rgba(255, 255, 255, 0.5);
}
.luxtag-footer-style-3 a {
  color: rgba(255, 255, 255, 0.3);
}
.luxtag-footer-style-3 a:hover {
  color: white;
}
.luxtag-footer-style-3 .btn {
  border-color: rgba(255, 255, 255, 0.1);
  color: gray;
}
.luxtag-footer-style-3 .luxtag-links {
  padding: 0;
  margin: 0;
}
.luxtag-footer-style-3 .luxtag-links li {
  padding: 0;
  margin: 0 0 10px 0;
  list-style: none;
}
.luxtag-footer-style-3 .luxtag-links.luxtag-social .icon {
  font-size: 17px;
  margin-right: 5px;
  top: 2px;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.luxtag-footer-style-3 .luxtag-made {
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 4em;
}
.luxtag-footer-style-3 .luxtag-made p {
  font-size: 24px;
}
.luxtag-footer-style-3 .luxtag-made p:last-child {
  margin-bottom: 0;
}
.luxtag-footer-style-3 .luxtag-made p .heart {
  color: #fb4f59;
}

#luxtag-tech
    {
        text-align: center;
        padding-top: 80px;
        padding-bottom: 80px;
    }
#luxtag-tech .icon-tech
    {
        color:#039be5;
        font-size: 60px;
    }



label {
    color: dimgrey;
    font-size: 15px;
    
}

.luxtag-form{
    font-size: 12px;
    color: #a6a7aa; 
}

.btn-send:hover{
  background: white !important;
  color: #039be5 !important;    
  border: 1px solid #039be5 !important; 
  transition: 0.3s !important;
      
    
}

.btn-send
   {
  background: #039be5 !important;
  color: white !important;
  border: 1px solid #039be5 !important;
  padding: 10px 20px !important;       
}

.contact ul li{
color: indianred;
    font-size: 12px;
}
